
/*
R�sum�:
Commentaire:
version:1.1
Auteur: Ibrahima DIOP
Date de modification:07/04/2016
*/

html{}
body{
  background-color:#c0c0c0;
	/*width:800px;*/
	margin:auto;
}

header h1{
  font-size:30px;
}

header nav{
  background-color: green;
	border-radius:25px;
	heigth:25px;
}
.deconnexion{
  background-color: #c0c0c0;
	border-radius:25px;
	heigth:25px;
}
header nav li{
  list-style-type:none;
	display:inline;
	line-heigth:35px;
	margin-left:15px;
	font-weight:bold;
}

header nav li a{
  text-decoration:none;
	color:white;
}
header nav li a:hover{
	color:black;
}

section{
width:700px;
}

section article{
background-color:white;
border:2px solid green;
border-radius:25px;
margin-bottom:10px;
}

section article h3{
background-color:green;
}
/*
.tableau2{margin:auto;border:1px solid green;border-collapse:collapse;}

.tableau2 td{text-align:rigth; padding:4px;}

.tableau2 tr:nth-child(2n){background:rgba(255,255,255,0.7);}

.tableau2 tr:nth-child(2n+1){background:rgba(34,181,51,1);}

.tableau2 tr:first-child{background:grey; color:white;}

.tableau2 tr:last-child{background:red; color:white;}

.tableau2 tr{-webkit-transition-duration:0.5s;}

.tableau2 tr:not(:first-child):hover{background:rgba(250,250,0,0.6);}

*/
/*
section article table tr:nth-child(even){
background:rgba(150,150,230,0.2);
}

section article table tr:nth-child(odd){
background:rgba(150,150,230,0.2);
}
*/
/*
.tableau3{margin:auto;border:1px solid green;border-collapse:collapse;}

.tableau3 td{text-align:rigth; padding:4px;}

.tableau3 tr:nth-child(2n){background:rgba(255,255,255,0.7);}

.tableau3 tr:nth-child(2n+1){background:rgba(34,181,51,1);}

.tableau3 tr:first-child{background:grey; color:white;}

.tableau3 tr{-webkit-transition-duration:0.5s;}

.tableau3 tr:not(:first-child):hover{background:rgba(250,250,0,0.6);}
*/
/*
.tableau4{margin:auto;border:1px solid white;border-collapse:collapse;}

.tableau4 td{text-align:rigth; padding:4px;}

.tableau4 tr:first-child{background:grey; color:white;}

.tableau4 tr{-webkit-transition-duration:0.5s;}

.tableau4 tr:not(:first-child):hover{background:grey; color:black;}

*/
.formulaire1 {

}
.formulaire1 input{
  display:block;
	margin-bottom:10px;
	border-radius:5px;
}

.inputbasic{
   border:1px solid grey;
	 padding:5px;
	 transition: all 0.5s ease;
}
.inputbasic1{
   background-color:red;
	 color:white;
}
.inputbasic2{
   background-color:yellow;
	 color:black;
}
.inputbasic3{
   background-color:green;
	 color:white;
}
.inputbasic:focus{
   background-color:green;
	 color:white;
}
/*
.mail, .password {
	 background-repeat:no-repeat;
	 background-position:4px 7px;
	 background-size:15px;
	 padding-Left:23px;
}

.mail {
   background-image:url('');
}

.password {
   background-image:url('');
}
*/
.formulaire1 input[type=submit]{
  background-color:white;
	border:1px solid green;
	padding:5px;
	color:green;
	transition: all 0.5s ease;
}

.formulaire1 input[type=submit]:hover{
	background-color:green;
	color:white;
	border-radius:150px;
	cursor:pointer;
}




/***********/
.formulaire2 input{
  display:block;
	margin-bottom:10px;
	border-radius:5px;
}

.inputbasic{
   border:1px solid grey;
	 padding:5px;
	 transition: all 0.5s ease;
}

.inputbasic:focus{
   background-color:green;
	 color:white;
}

.boutonbasic{
  background-color:white;
	border:1px solid green;
	padding:5px;
	color:green;
	transition: all 0.5s ease;
}

.boutonbasic:hover{
	background-color:green;
	color:white;
	border-radius:150px;
	cursor:pointer;
}
 #divProduit{
    display:none;
 }
 #divService{
    display:none;
 }
 #divFrais{
    display:none;
 }
.limitation{
	border: dashed green 1px;
}

.ulc{
	float: left;
	list-style-type: none;
	padding: 0px;
	border: 1px solid black;
	margin-top: 0px;
	border: 1px ;
  position: absolute;
	z-index: 10000;
  background-color: white;


}
.lic{
	width: 300px;

}
.spc{
	margin-bottom: 25px;
}
.lic:hover {
	color: white;
	background: #0088cc;
}
.licR{
	width: 300px;

}
.licR:hover {
	color: white;
	background: #0088cc;
}
#resultatS{
  color: green;
}
.inputbasic{
	z-index: 0;
}
.spanDate{
	margin-left: 50px;
}
.spanTotal{
	margin-left: 50px;
}
.fixeInput{
  position: fixed;
}
#pFacture,#pFacture>span{
  width:30mm;
  height:21mm;
  /*text-align:center;*/
  margin-top:3px;
  font-size: 9px;
}

.navbar-custom {
    background-color:#e2970bef;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #e2970bef;
}

.btnSpan:hover {
	background-color: #4CAF50;
	color: white;
  }


  #tableStock > tbody > tr:nth-child(2n+1) > td, #tableStock > tbody > tr:nth-child(2n+1) > th {
	  background-color: white;
  }
  
  #tableStock > tbody > tr:nth-child(2n) > td, #tableStock > tbody > tr:nth-child(2n) > th {
	  background-color: rgb(231, 226, 226);
  }