* {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 170px;
    max-width: 170px;
}

td.quantite,
th.quantite {
    width: 15px;
    max-width: 15px;
    word-break: break-all;
}

td.prix,
th.prix {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.total,
th.total {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.reference,
th.reference {
    width: 210px;
    max-width: 210px;
}

td.nombre,
th.nombre {
    width: 55px;
    max-width: 55px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.right {
  text-align: right;
  align-content: right;
}

.left {
  text-align: left;
  align-content: left;
}

.ticket {
    width: 290px;
    max-width: 290px;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}