@CHARSET "ISO-8859-1";
 
#tableau{
	width: 100%;
}
#tableau tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10px;
    text-align: left; 
	background-color: #ffffff; 
}
#tableau th {
    font-size: 15px;
    font-weight: normal;
    padding: 8px; 
    border-top: 2px solid green;    border-left: 2px solid green;    border-right: 2px solid green;    border-bottom: 2px solid green;
    color: white;
	background-color: black;  
	border-radius:5px; 
}
#tableau td {
    padding: 8px;
    border-bottom: 1px solid green;
    color: black;
    border-top: 1px solid #fff;
	background-color: #ffffff;
	border-radius:5px; 
}

#tableau tbody tr:hover td {
	background-color: green; 
    border-color: #ffffff;
    color: white;
} 
fieldset{
	width: 90%; 
	border-color: green;
	border-radius:5px; 
	
}
legend{
	background-color: green;
	color:white;
	border-radius:5px; 
	width:35%; 
	border-color: green;
}
 
#body{
	height:750px;  
}

#batimentC{
	 float: left;
	 width: 25%;
	
}

#batimentD{
	 float: left;
	 width: 25%;
}

#batimentE{
	
	 float: left;
	 width: 25%;
}

#batimentInfos{
	
	 float: left;
	 width: 25%;
}

#batimentH{
	 float: left;
	 width: 25%;
}

#batimentN{
	 float: left;
	 width: 25%;
}

#batimentS{
	 float: left;
	 width: 25%;
}
#unique{
	 float: left;
	 width: 100%;
}